name: Release

on:
    push:
        tags:
            - "v*"

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                  java-version: "21"
                  distribution: "temurin"

            - name: Build with Maven
              run: mvn clean package -DskipTests

            - name: Run tests
              run: mvn test

            - name: Create Release
              uses: softprops/action-gh-release@v1
              with:
                  files: target/GBJava-1.0.0.jar
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
